
 <footer class="footer">

  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6">

          <!-- Footer Widget -->
          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <img src="assets/assetsdental/img/footer-logo.png" alt="logo">
            </div>
            <div class="footer-about-content">
              <p>Si esta plataforma te ha resultado útil para conseguir el profesional que buscabas, compártelo con tus amigos!</p>
              <div class="social-icon">
                <ul>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /Footer Widget -->

        </div>

        <div class="col-lg-3 col-md-6">

          <!-- Footer Widget -->
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Para Pacientes</h2>
            <ul>
              <li><a routerLink="dentists">Buscar Dentista</a></li>
              <li><a routerLink="login" >Acceso</a></li>
              <li><a routerLink="register">Registro</a></li>
              <li><a >Pedir Cita</a></li>
              <!-- <li><a href="patient-dashboard.php">Perfil Privado</a></li> -->
              <!-- <li><a href="patient-dashboard.php">Protección de tus datos</a></li> -->
            </ul>
          </div>
          <!-- /Footer Widget -->

        </div>

        <div class="col-lg-3 col-md-6">

          <!-- Footer Widget -->
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Para Dentistas</h2>
            <ul>
              <li><a >Gestor de Citas</a></li>
              <li><a >Chat</a></li>
              <li><a routerLink="login" >Login</a></li>
              <li><a routerLink="registerdoctor">Registrarse</a></li>
              <!-- <li><a href="doctor-dashboard.php">Doctor Dashboard</a></li> -->
              <!-- <li><a href="patient-dashboard.php">Protección de tus datos</a></li> -->
            </ul>
          </div>
          <!-- /Footer Widget -->

        </div>

        <div class="col-lg-3 col-md-6">

          <!-- Footer Widget -->
          <div class="footer-widget footer-contact">
            <h2 class="footer-title">Contacto</h2>
            <div class="footer-contact-info">
              <!--<div class="footer-address">
                <span><i class="fas fa-map-marker-alt"></i></span>
                <p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
              </div>-->
              <p>
                <i class="fas fa-phone-alt"></i>
                971 36 98 65
              </p>
              <p class="mb-0">
                <i class="fas fa-envelope"></i>
                soporte@developerTest.com
              </p>
            </div>
          </div>
          <!-- /Footer Widget -->

        </div>

      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->
          <div class="footer-bottom">
    <div class="container-fluid">

      <!-- Copyright -->
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="copyright-text">
              <p class="mb-0">&copy; 2021 developerTest. Todos los derechos reservados.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">

            <!-- Copyright Menu -->
            <div class="copyright-menu">
              <ul class="policy-menu">
                <li><a>Términos y Condiciones</a></li>
                <li><a >Política de Privacidad</a></li>
              </ul>
            </div>
            <!-- /Copyright Menu -->

          </div>
        </div>
      </div>
      <!-- /Copyright -->

    </div>
  </div>
  <!-- /Footer Bottom -->

</footer>