<section class="section section-search">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-8 offset-md-2">

							<!-- Register Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header">
											<h3>Registro de Usuarios </h3>
										</div>

										<!-- Register Form -->
										<form [formGroup]="ngFormSignup" (ngSubmit) ="onRegister()">
											<div class="text-left">
												<a class="forgot-link" >Ingresa tu nombre y tu e-mail</a>
											</div>
											<div class="form-group form-focus">
											<!-- 	<input type="text" class="form-control floating"> -->

												<input type="text" class="form-control floating" id="name" formControlName="name" placeholder="Full Name" [(ngModel)]="user.name" [ngClass]="{'is-invalid': submitted && fval.name.errors }"required>

												<div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
													<div *ngIf="fval.name.errors.required">
													Full Name is required and must be a valid name
													</div>
												 
												</div>
												<label class="focus-label">Nombre</label>
											</div>

											<div class="form-group form-focus">
												<!-- <input type="email" class="form-control floating"> -->
													<input type="email" class="form-control floating" id="email" placeholder="Email" formControlName="email" [(ngModel)]="user.email" required [ngClass]="{ 'is-invalid': submitted && fval.email.errors }">
												<div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
													<div *ngIf="fval.email.errors.required">Email is required</div>
													<div *ngIf="fval.email.errors.email">Enter a valid email address</div>
												</div>
												<label class="focus-label">e-mail</label>
											</div>


											<div class="form-group form-focus">
												<!-- <input type="email" class="form-control floating"> -->
												<input type="password" class="form-control" id="password" formControlName="password" placeholder="*******" [(ngModel)]="user.password" [ngClass]="{ 'is-invalid': submitted && fval.password.errors}" required>
												<div *ngIf="submitted && fval.password.errors"class="invalid-feedback">
													<div ngClass="fval.password.errors.required">
													Password is required.
													</div>
												<div *ngIf="fval.password.errors.minlength">Password must be at least 6 characters</div>
												</div>
												<label class="focus-label">Contraseña</label>
											</div>

											<div class="form-group form-focus">
												<input type="checkbox" (click)="setPolitics()"> <a class="forgot-link" >He leído y acepto la Política de Privacidad</a>
											</div>
											<div style="text-align: center;"  [hidden]="!waiting">
												
											<img src="assets/assetsdental/img/tenor.gif"	 style="max-height: 32px;max-width: 32px; text-align: center;	">
											<p></p>
											</div>
											<button class="btn btn-primary btn-block btn-lg login-btn" type="submit" disabled="disabled" [hidden]="!waiting &&  politics">Enviar</button>
											<button class="btn btn-primary btn-block btn-lg login-btn" type="submit" [hidden]="waiting  ||  !politics" >Enviar</button>
											<div class="login-or">
												<span class="or-line"></span>
												<span class="span-or">o</span>
											</div>
											<div [hidden]="!isError">
												<div style="color: red;text-align: left;">
												{{message}}
												</div>

											</div>
											<div class="text-left">
												<a class="forgot-link" routerLink="/login">Ya tienes una cuenta?</a>
											</div>
											
											
										</form>
										<!-- /Register Form -->

									</div>
								</div>
							</div>
							<!-- /Register Content -->

						</div>
					</div>

				</div>
			</section>