<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
				<app-lateralmenu ></app-lateralmenu>
			</div>
			<div class="col-md-7 col-lg-8 col-xl-9" *ngIf=" _uw.usertype=='dentist'">
				<div class="card">
					<div class="card-body pt-0">
						<nav class="user-tabs mb-4">
							<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
								<li class="nav-item">
								<a class="nav-link active" href="#pat_appointments" data-toggle="tab">Citas</a>
								</li>

								
							</ul>
						</nav>
						<div class="card card-table mb-0">
							<div class="card-body">
								<div class="table-responsive">
									Welcome!
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-7 col-lg-8 col-xl-9" *ngIf=" _uw.usertype=='developertest'"> 
				<div class="card">
					<div class="card-body pt-0">
						<nav class="user-tabs mb-4">
							<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
								<li class="nav-item">
								<a class="nav-link active" href="#pat_appointments" data-toggle="tab">Welcome</a>
								</li>

								
							</ul>
						</nav>
						<div class="card card-table mb-0">
							<div class="card-body">
								<div class="table-responsive">
									<----- Click en "Mi cuenta" para testear las funciones CRUD
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>
