<section class="section section-search">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 offset-md-2">

							<!-- Account Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-12 col-lg-6 login-right">
							<div class="login-header">
								<h3>Acceso <span>	</span></h3>
							</div>
							<form [formGroup]="ngFormLogin" (ngSubmit) ="onLogin()">
								<div class="form-group form-focus">
									<input type="email" class="form-control floating" id="email" placeholder="Email" formControlName="email" [(ngModel)]="user.email"required [ngClass]="{ 'is-invalid': submitted && fval.email.errors }">
									<label class="focus-label">Usuario</label>
										<div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
											<div *ngIf="fval.email.errors.required">El email es requerido</div>
											<div *ngIf="fval.email.errors.email">Ingrese una direccion email valida</div>
										</div>
								</div>
								<div class="form-group form-focus">
									<input   type="password"id="password" placeholder="*******" formControlName="password" [(ngModel)]="user.password" [ngClass]="{ 'is-invalid': submitted && fval.password.errors}"  required class="form-control floating">
										<div *ngIf="submitted && fval.password.errors"class="invalid-feedback">
											<div ngClass="fval.password.errors.required">
											La contraseña es requerida.
											</div>

										</div>
											
										
									<label class="focus-label">Contraseña</label>
								</div>
								<!-- <div class="form-group form-focus">
									<input type="checkbox"> <a class="forgot-link" href="privacy-policy.php">He leído y acepto la Política de Privacidad</a>
								</div> -->
								<div class="text-right">
								<div [hidden]="!isError">
									<div style="color: red;text-align: left;">
									{{message}}
									</div>

								</div>
									<a class="forgot-link" href="">Has olvidado tu contraseña ?</a>
								</div>
								<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Iniciar Session</button>
								
								<div class="login-or">
									<span class="or-line"></span>
									<span class="span-or">o</span>
								</div>
								<div class="row form-row social-login">
									<!-- <div class="col-6">
										<a href="#" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> Iniciar Session</a>
									</div> -->
								<!-- 	<div class="col-6">
										<a href="#" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Iniciar Session</a>
									</div> -->
								</div>
								<div class="text-center dont-have">Eres nuevo usuario? <a routerLink="/register">Registráte</a></div>
							</form>
						</div>

			
									</div>
								</div>
							</div>
					</div>
				</div>
			</section>